<div class="box-attention">
	<h2 class="box-heading">An Attention Box</h2>
	<p>An attention box is used for to highlight content. It is similar to an aside box, but used for higher priority content. For example, you might use it to to clarify or summarise some instructions.</p>
	<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>