<div class="module-content-block--illustrated-right">
	<div class="module-content-block--inner">
		<h2 class="module-title">Module Block Title</h2>
		<img class="module-illustration" src="http://lorempixel.com/300/200/people/10">
		<p class="module-content-block--content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>


<div class="pattern-subtitle">…with an inset delta heading</div>

<div class="module-content-block--illustrated-right">
	<div class="module-content-block--inner">
		<h2 class="module-title+pull-left heading-delta">Module Block Title</h2>
		<img class="module-illustration" src="http://lorempixel.com/300/200/people/10">
		<p class="module-content-block--content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>

<div class="pattern-subtitle">…with an inset gamma heading cleared</div>

<div class="module-content-block--illustrated-right">
	<div class="module-content-block--inner">
		<h2 class="module-title heading-gamma pull-left">Module Block Title</h2>
		<img class="module-illustration" src="http://lorempixel.com/300/200/people/10">
		<p class="module-content-block--content--cleared">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>

